#collection-content {
  display: flex;
  justify-content: space-around;
  height: 75vh;
}

#collection-info-section {
  width: 24.5vw;
  background-color: rgb(36, 49, 62);
  overflow-y: auto;
}

#collection-info-section::-webkit-scrollbar {
  display: none;
}

#collection-info-section > div {
  transition: opacity 0.4s;
}

#item-portrait,
#item-type,
.item-stars {
  transition: background-image 0.1s ease-out, transform 0.1s ease-out;
}

img[locked="false"][animating="true"],
div[locked="false"][animating="true"],
#item-portrait[locked="false"][animating="true"] {
  transform: scale(0.8);
}

img[locked="true"][animating="true"],
div[locked="true"][animating="true"],
#item-portrait[locked="true"][animating="true"] {
  transform: scale(0.8);
}

img[locked="true"],
div[locked="true"],
#item-portrait[locked="true"] {
  filter: brightness(0);
}

#stars-container {
  display: flex;
}

#main-collection-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  /* background-color: rgb(36, 49, 62); */
  background-color: rgb(52, 56, 61);
  overflow-y: auto;
  height: 100%;
  width: 48.35vw;
  padding: 5px 0;
}

#main-collection-section::-webkit-scrollbar {
  display: none;
}

#main-collection-section > div {
  border: 2px solid rgb(64, 74, 81);
  background-color: rgb(52, 58, 64);
  transition: transform 0.2s, width 0.2s, height 0.2s, opacity 0.4s;
  border-radius: 10px;
  overflow: hidden;
}

#main-collection-section > .unlocked[stars="5"] {
  background: linear-gradient(rgb(147, 96, 54), rgb(185, 115, 50));
}

#main-collection-section > .unlocked[stars="4"] {
  background: linear-gradient(rgb(105, 92, 157), rgb(137, 116, 182));
}

#main-collection-section > .unlocked[stars="3"] {
  background: linear-gradient(rgb(66, 83, 126), rgb(89, 111, 167));
}

#main-collection-section > .unlocked[active="true"][stars="5"] {
  transform: scale(1.1);
  border: 2px solid rgb(255, 214, 175);
}

#main-collection-section > .unlocked[active="true"][stars="4"] {
  transform: scale(1.1);
  border: 2px solid rgb(189, 164, 241);
}

#main-collection-section > .unlocked[active="true"][stars="3"] {
  transform: scale(1.1);
  border: 2px solid rgb(146, 164, 211);
}

#main-collection-section > div[active="true"] {
  transform: scale(1.1);
  border: 2px solid rgb(124, 124, 124);
}

#main-collection-section > div > div {
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  background-size: contain;
  display: flex;
}

#main-collection-section > div:hover {
  transform: scale(1.1);
}

#main-collection-section > div > div > p {
  position: absolute;
  z-index: 1;
  text-shadow: 1px 0 5px black;
}

#main-collection-section > div > div > img {
  filter: drop-shadow(0 0 10px black);
  z-index: 1;
  margin-top: auto;
  margin-left: auto;
}

#main-collection-section > div > div[stars="5"] {
  filter: drop-shadow(0 0 6px rgb(180, 112, 47));
}

#main-collection-section > div > div[stars="4"] {
  filter: drop-shadow(0 0 4px rgb(98, 71, 155));
}

#main-collection-section > div > div[stars="3"] {
  filter: drop-shadow(0 0 2px rgb(61, 90, 163));
}

#collection-filter {
  width: 24.5vw;
  background-color: rgb(36, 49, 62);
  display: flex;
  flex-direction: column;
}

#collection-filter-top {
  display: flex;
  margin: 1% 10px;
  justify-content: space-between;
}

#collection-filter-top > h3 {
  color: rgb(209, 188, 141);
  text-align: left;
  margin: 0;
}

#collection-filter-top > div {
  color: rgb(71, 82, 95);
  background-color: rgb(222, 219, 209);
  border-radius: 50px;
  display: flex;
}

#collection-filter-top #item-search {
  color: rgb(71, 82, 95);
  background-color: rgb(222, 219, 209);
  border: none;
  width: 90%;
  height: 85%;
  border-radius: 50px;
  margin: auto;
}

#subfilter-section {
  overflow-y: auto;
  height: 100%;
}

.custom-button {
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 5%;
}

.custom-button div {
  transition: filter 0.2s;
}

.custom-button:active div {
  filter: brightness(1000%);
}

#subfilter-section::-webkit-scrollbar {
  display: none;
}

.subfilter {
  margin: 10px;
}

.subfilter-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subfilter-heading > h5 {
  margin: 0;
}

.filter-button-pair {
  display: flex;
}

.all-button {
  background-color: rgb(75, 75, 75);
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  transition: background-color 0.2s;
}

.clear-button {
  background-color: rgb(75, 75, 75);
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  transition: background-color 0.2s;
}

.trash-icon {
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(49, 49, 49);
  border-radius: 50%;
}

.all-button:hover,
.clear-button:hover {
  background-color: rgb(129, 129, 129);
}

.all-button:active,
.clear-button:active {
  background-color: rgb(242, 215, 137);
  text-shadow: 1px 0 5px rgb(82, 82, 82);
}

.subfilter-checkbox-container {
  display: flex;
  flex-wrap: wrap;
}

.checkbox {
  margin: 1%;
}
