* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100wh;
  height: 100vh;
  margin: 0;
  padding: 5px;
  /* overflow: hidden; */
  background: #1d3557;
}

.container {
  width: 200px;
  height: 200px;
  border-width: 5px;
  border: 2px white;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.size{
  min-width: 125px;
  min-height: 200px;
  max-width: 125px;
  max-height: 200px;
  padding: 5px;
  background-color: #a8dadc;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px rgb(31, 31, 31);
}

.buttons {
  min-width: 200px;
  min-height: 50px;
  max-width: 200px;
  max-height: 50px;
  margin: 0 auto;
  font-size: 20px;
  background-color: #457b9d;
  padding: 4px;
  border: 1px #a8dadc;
  color: #f1faee;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: auto;
}

.text{
  font-size: 36px;
  text-shadow: 3px 3px rgb(31, 31, 31);
  color: #f1faee;
  text-align: center;
}

.nav{
  color: #f1faee;
  background-color: #f1faee;
  font-size: 48px;
  margin-top: 30px;
	margin-right: 25px;	
  margin-bottom: 50px;
  opacity: 0.1;
  width: 100wh;
  height: 66px;
  flex-direction: row-reverse;
  align-items: stretch;
  align-items: left;	
}

.table{
  border-collapse: collapse;
  border: 5px solid #a8dadc;
  align-content: left;
  font-size: 36px;
  padding: 30px;
  color: #f1faee;
  text-shadow: 3px 3px rgb(31, 31, 31);
  margin: auto;
}